body{
    background: rgb(83, 150, 252);
    overflow-x: hidden;
}

.form-container.loginPage{
    background-color:white;
    box-shadow: 0px 0px 10px 0px black;
    border-radius: 10px;
    margin: auto;
    padding: 30px;
    margin-top: 20%;
}

.form-container div{
    margin-bottom: 10px;
}

.form-container .form-group a{
    border-top: 10px;
}

.hyperColor{
    color: white;
}

@media (min-width: 992px) {
    .loginBg{
        background: #70a6f2;
        height: 1280px;
    }
    .form-container.loginPage{
        padding:30px 150px 30px 150px;
    }    
}

