/*  Pontos */
content .chooseAvatar{
    padding-top:30px;
    padding-bottom: 30px;
    background:white;
    padding-left: 30px;
}

.chooseAvatar p2{
    padding-left:4px;
}

.chooseAvatar h5{
    padding-top: 30px;
    padding-bottom: 10px;
}
content .recommendations{
    border-top-style: solid;
    border-color: rgb(106, 168, 222);
    padding: 20px;
    background:white;
}
@media (max-width: 575px) { 
    .card-title{
        padding-top:2%;
    }
    .cardContent1{
        padding:8px;
        margin:5px;
        border-color:rgba(7, 7, 7, 0.605);
        width: 130%;
    }
    .cardContent1 img{
        width: 100%;
    }
    .loginBg{
        background: #70a6f2;
        height: 100px;
    }
    .form-container.loginPage{
        padding:30px;
    }
}
@media (max-width: 768px) {
    .card-title{
        padding-top:2%;
        padding-left:2%;
    }
    .cardContent1{
        padding:8px;
        margin:5px;
        border-color:rgba(7, 7, 7, 0.605);
        width: 100%;
    }
    .cardContent1 img{
        width: 100%;
    }
    /* Login Screen */
    .loginBg{
        background: #70a6f2;
        height: 1000px;
    }
    .form-container.loginPage{
        padding:30px;
    }
}
@media (min-width:769px) and (max-width: 991px){
    .card-title{
        padding-top:2%;
    }
    .cardContent1{
        padding:8px;
        margin:5px;
        border-color:rgba(7, 7, 7, 0.605);
        width: 100%;
    }
    .cardContent1 img{
        width: 100%;
    }
    /* Login Screen */

    .loginBg{
        background: #70a6f2;
        height: 991px;
    }
    .form-container.loginPage{
        padding:30px 150px 30px 150px;
    }
}

@media (min-width: 992px) {
    .card-title{
        padding-top:2%;
        padding-left:2%;
    }
    .cardContent1{
        padding:8px;
        margin:6px;
        border-color:rgba(7, 7, 7, 0.605);
        width: 100%;
        background:rgb(255, 255, 255);
    }
    .cardContent1 img{
        width: 100%;
    }
    .loginBg{
        background: #70a6f2;
        height: 1280px;
    }
    /* Login Screen */
    .form-container.loginPage{
        padding:30px 150px 30px 150px;
    }    
}
/* Login Screen */
.form-container.loginPage{
    background-color:white;
    box-shadow: 0px 0px 10px 0px black;
    border-radius: 10px;
    position: relative;
    top:18vh;
}
.hyperColor{
    color: white;
}
