body{
    background: rgba(194, 181, 181, 0.263);
}
.container{
    max-width:100%;
}
/* header */
header{
    background: rgb(39, 140, 255);
    width: 100%;
    display:inline-block;
}
header ul li a.nav-link{
    color:white;
}
.nav-link.sidebarLink.dropdown-toggle{
    color:rgb(218, 218, 218);
}
#imgPerfil{
    border-radius: 180px;
}
.navbar .collapse {
    max-height:250px;width:100%;overflow-y:auto;overflow-x:hidden;
}
.navbar .navbar-nav>.nav-item {
    float: none; margin-left: .1rem;
}
.navbar .navbar-nav {
    float:none !important;

}
/* right navbar */
#rightSidebarContent{
    padding-top:10%;
    justify-content:center;
}
#countMedal{
    font-size: 1.5em;
    padding-top:5%;
    padding-left: 10%;
    padding-right: 5%;
}

/* navbar inferior */
#downNav{
    height:60px;
}
#downNav i{
    font-size:2.5em;
    color:black;
}
#downNav #icon1 i{
    
    padding-left:20px;
    padding-right:20px;
}
#downNav #icon3 i{
    padding-left:20px;
    padding-right:30px;

}

#downNav #icon2 i{
    padding-right: 35px;
    padding-left: 35px;
    border-left-style: solid;
    border-right-style: solid;
    border-color: rgb(255, 255, 255);
    border-style: thin;

}
#downNav a{
    background:white;
}

.nav-item{
    width:100%;text-align:left;
}
.navbar .collapse .dropdown-menu {
  position: relative;
  float: none;
  background:none;
  border:none;
}
/* Textos */
.mainTitle{
    padding-bottom: 20px;
    justify-content: center;
    font-size: 1.9em;
    display:flex;
    padding-top:30px;
    width:100%;
    border-bottom-style: solid;
}
p1{
    padding-bottom:8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:1em;
    color:rgba(43, 40, 40, 0.747);
    border-bottom-style:groove;
}

/*  Pontos */
content .chooseAvatar{
    padding-top:30px;
    padding-bottom: 30px;
    background:white;
    padding-left: 30px;
}

.chooseAvatar p2{
    padding-left:4px;
}

.chooseAvatar h5{
    padding-top: 30px;
    padding-bottom: 10px;
}
content .recommendations{
    border-top-style: solid;
    border-color: rgb(106, 168, 222);
    padding: 20px;
    background:white;

}

/* Footer */
footer h5{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color:rgb(39, 140, 255);
    font-size: 1.5em;
    border-color:rgba(84, 80, 80, 0.589);
    border-top-style: solid;
}
footer{
    padding-bottom:60px;
    padding-top:20px;
    width: 100%;

}
footer .socialMedia{
    border-right-style:solid; 
    border-color:rgba(84, 80, 80, 0.589);
}

@media (max-width: 575px) { 
    .container{
        min-width:100%;
    }
    .sidebar{
        display:none;
    }
    .card-title{
        padding-top:2%;
    }
    .cardContent1{
        padding:8px;
        margin:5px;
        border-color:rgba(7, 7, 7, 0.605);
        width: 130%;
    }
    .cardContent1 img{
        width: 100%;
    }
}
@media (max-width: 768px) {
    .sidebar{
        display:none;
    }
    .card-title{
        padding-top:2%;
        padding-left:2%;
    }
    .cardContent1{
        padding:8px;
        margin:5px;
        border-color:rgba(7, 7, 7, 0.605);
        width: 100%;
    }
    .cardContent1 img{
        width: 100%;
    }
}
@media (min-width:769px) and (max-width: 991px){
    .sidebar{
        display:none;
    }
    .card-title{
        padding-top:2%;
    }
    .cardContent1{
        padding:8px;
        margin:5px;
        border-color:rgba(7, 7, 7, 0.605);
        width: 100%;
    }
    .cardContent1 img{
        width: 100%;
    }
    /* Login Screen */
.loginContent{
    margin: 5% 20% 5% 20%;
    background-color: white;
    padding: 4rem 12rem 4rem 12rem;
    border-radius: 10px;
}
}

@media (min-width: 992px) {
    .downNav{
        display:none;
    }
    .mainTitle{
        display:none;
    }
    h4{
        padding-top:20px;
    }
    header{
        display:none;
    } 
    .sidebar{
        border-style:inset;
        border-radius: 10px;
        border-width: thin;
        border-color: rgba(7, 7, 7, 0.119);
        background:white;
        
    }
    .sidebar #logo img{
        max-height:10%;
        max-width:10%;
        background: black;
    }
    .sidebarLink{
        padding-top:10%;
        padding-left:10%;
    }
    .card-title{
        padding-top:2%;
        padding-left:2%;
    }
    .cardContent1{
        padding:8px;
        margin:6px;
        border-color:rgba(7, 7, 7, 0.605);
        width: 100%;
        background:rgb(255, 255, 255);
    }
    .cardContent1 img{
        width: 100%;
    }
    
}
/* Login Screen */
.loginContent{
    margin: 5% 20% 5% 20%;
    background-color: white;
    padding: 4rem 12rem 4rem 12rem;
    border-radius: 10px;
}
.loginPageBG{
    background-color:#70a6f2;
}